@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cabecalho: #5429CC;
  --button-top: #6933FF;
  --color-green: #33CC95;
  --title: #363F5F;
  --shape-principal: #FFFFFF;
  --color-red: #E52E4D;
  --text-color: #969CB2;
  --backgroud: #F0F2F5;
};

@layer base {
  html {
      @apply bg-fundo;
  }
};